<div *ngIf="productList">
  
  <div class="p-5"><h3>Product List</h3>
  </div>
  <div iv class="row">
    <div class="card m-5" *ngFor="let product of productList" style="width: 18rem;">
      <img class="card-img-top" [src]="product.image" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div id="overlay" *ngIf="showLoadinMask">
  <div class="spinner"></div>
  <br />
  Loading...
</div>
